@import url("reusable.css");

p, label, legend, ::placeholder, input, textarea, button {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;    
    line-height: 1.27;
}

p, label, legend, ::placeholder {
    font-size: 1.4rem;
}

::placeholder, .backToTop {
    font-size: 1.33rem;
}

.fechaEvento {
    padding: .35rem 0;
    font-weight: bold;
}

header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 1rem auto;
    padding: .75rem;
}

footer {
    padding-bottom: .5rem;  
    padding-top: 3rem;  
    width: 100%;
    max-width: none;
    overflow: hidden;
}

footer > p {
    text-align: center;
}

main {
    overflow-x: hidden;
    flex-grow: 1;
}

/* ------- */

.mainContent article {
    margin-bottom: 1.5rem;
    min-height: 220px;
    position: relative;
    padding: 1rem;
    flex-direction: column;
}

.mainContent article.scaleToOne {   
   animation: scaleToNormal .35s ease-out forwards;
}

.mainContent article div:first-of-type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.mainContent img {
    width: 100%;
    box-shadow: 0 0 5px;
    border-radius: 10px;    
}

.mainContent article div:last-of-type {
    padding: 1rem 0 0;
}

/* ------- */

.backToTop {    
    bottom: 1.5rem;           
}

.hideForm {    
    top: 1.5rem;     
    transition: transform .5s ease-out;      
}

.backToTop, .hideForm {
    position: fixed;
    right: 1rem; 
    z-index: 1000;
    border: none;
    background-color: var(--darkGrey);
    color: var(--white);
    transform: translateX(0);
}

.transparent {
    opacity: 0;
}

.rightHidden {    
    transform: translateX(15rem);
}

/* FORMULARIO ----------------------------*/

*:focus {
    outline: none;
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: var(--ligtGrayAB);
}
  
::placeholder {
    color: var(--ligtGrayAB);
}

.whiteVeil, .nuevoEventoZelda {
    transition: transform .5s ease-out;
}

.whiteVeil {
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(130%);    
}

.nuevoEventoZelda {
    width: 92%;
    max-width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(150%, -52%);    
}

.nuevoEventoZelda.manifiestate {
    transform: translate(-50%, -52%);
}

.whiteVeil.manifiestate {
    transform: translateX(0);
}

.alertError {
    display: none;
    color: red;
}

label {
    display: block;
    margin: .75rem 0 .5rem;
}

input, textarea, fieldset {
    border: 1px solid var(--ligtGrayDDD);
}

fieldset{
    padding: 1rem 1.75rem 1.75rem;    
}

legend {
    padding: 0 .75rem;
}

textarea {
    resize: none;
    height: 8rem;
}

input, textarea {
    width: 100% !important;
    padding: .75rem;
}

button {
    padding: 1rem 1.1rem;
    margin: 1rem .3rem 0 0;
    transition: 0.5s;
    font-size: 1.25rem;
}

.nuevoEventoZelda button {
    margin-right: .5rem;
}

.mostrarHistoriaZelda {    
    padding: 1rem 1.25rem;
    display: inline-flex;
    font-size: 1.25rem;    
    z-index: 2000;   
}

.showForm, .mostrarHistoriaZelda {
    margin: 0 auto 2rem;
}

.showForm {
    position: relative;
    top: 10rem;
    transition: top .5s ease 1s;
}

.showForm.manifiestate {
    top: -2rem;
}

button:not(.backToTop):hover {
    background-color: var(--darkGrey);
}

@media all and (min-width: 500px) {
    .mainContent img {  
        max-width: 419px;
    }
}

@media all and (min-width: 850px) {
    .mainContent article {
        flex-direction: row;
    }

    .mainContent article div:first-of-type {
        width: 27%;
    }

    .mainContent article div:last-of-type {
        width: 73%;
    }

    .mainContent article:nth-child(even) div:first-of-type {
        order: 1;
    }

    .mainContent img {
        max-width: none;
    }

    .mainContent article:nth-child(odd) div:last-of-type {
        padding: 0 1rem;
    }

    .mainContent article:nth-child(even) div:last-of-type {
        padding: 0 1rem 0 0;
    }
}

